<a href="https://colab.research.google.com/github/sathamhussain7/task-8/blob/main/task_8_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Translate English to other languages**

import libraries

In [7]:
import pandas as pd

In [97]:
df=pd.read_csv('/content/English.csv')
df.head()

  English words/sentences
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [8]:
df.shape

(175621, 1)

In [9]:
df.duplicated().sum()

52521

In [10]:
df=df.drop_duplicates()
df.shape

(123100, 1)

In [65]:
!pip install translate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: translate in /usr/local/lib/python3.8/dist-packages (3.6.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from translate) (2.28.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from translate) (7.1.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from translate) (4.9.2)
Requirement already satisfied: libretranslatepy==2.1.1 in /usr/local/lib/python3.8/dist-packages (from translate) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (3.0.1)

In [66]:
import translate
from translate import Translator

In [68]:
list=['morning','afternoon','evening','night','midnight']
      
df1=pd.DataFrame(list)
df1.columns=['english']
df1

     english
0    morning
1  afternoon
2    evening
3      night
4   midnight

In [70]:
translator=Translator(from_lang='English',to_lang='German')
translator1=Translator(from_lang='English',to_lang='French')
translator2=Translator(from_lang='English',to_lang='Spanish')

In [75]:
df1['Spanish']=df1['english'].apply(lambda x:translator2.translate(x))
df1['French']=df1['english'].apply(lambda x:translator1.translate(x))
df1['German']=df1['english'].apply(lambda x:translator.translate(x))
df1

     english       Spanish      French       German
0    morning        Mañana       Matin       Morgen
1  afternoon         tarde  après-midi  nachmittags
2    evening  anocheciendo        soir        Abend
3      night         noche        nuit        Nacht
4   midnight    medianoche    midnight  Mitternacht

In [ ]:
df['Spanish']=df['English words/sentences'].apply(lambda x:translator2.translate(x))
df['French']=df['English words/sentences'].apply(lambda x:translator1.translate(x))
df['German']=df['English words/sentences'].apply(lambda x:translator.translate(x))

**2.Correct the spelling**

In [76]:
list=['morneing','afterinoon','eveniing','nighty','midunight']
      
df2=pd.DataFrame(list)
df2.columns=['words']
df2

        words
0    morneing
1  afterinoon
2    eveniing
3      nighty
4   midunight

In [77]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from textblob) (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (7.1.2)

In [81]:
import textblob

In [82]:
from textblob import TextBlob

In [83]:
def correct_spelling(sentences):
  sentence = TextBlob(sentences)
  result = sentence.correct()
  return result

In [96]:
correct_spelling('colllage')

TextBlob("college")

In [94]:
df2['correct_spell']=df2['words'].apply(lambda x:''.join(correct_spelling(x)))

In [95]:
df2

        words correct_spell
0    morneing       morning
1  afterinoon     afternoon
2    eveniing       evening
3      nighty         night
4   midunight      midnight